# Assignment 6

Maksim Nikiforov

## Split the data

Using the NFL box score data set, split the data into separate .csv files based on the season.

In [1]:
import pandas as pd

# Read in our .csv file
NFL_scores = pd.read_csv("scoresFull.csv")

# Show the first set of rows
NFL_scores.head()

,week,date,day,season,awayTeam,AQ1,AQ2,AQ3,AQ4,AOT,...,homeFumLost,homeNumPen,homePenYds,home3rdConv,home3rdAtt,home4thConv,home4thAtt,homeTOP,HminusAScore,homeSpread
0,1,5-Sep,Thu,2002,San Francisco 49ers,3,0,7,6,-1,...,0,10,80,4,8,0,1,32.47,-3,-4.0
1,1,8-Sep,Sun,2002,Minnesota Vikings,3,17,0,3,-1,...,1,4,33,2,6,0,0,28.48,4,4.5
2,1,8-Sep,Sun,2002,New Orleans Saints,6,7,7,0,6,...,0,8,85,1,6,0,1,31.48,-6,6.0
3,1,8-Sep,Sun,2002,New York Jets,0,17,3,11,6,...,1,10,82,4,8,2,2,39.13,-6,-3.0
4,1,8-Sep,Sun,2002,Arizona Cardinals,10,3,3,7,-1,...,0,7,56,6,10,1,2,34.40,8,6.0

In [2]:
# Group data frame by each season with groupby,
# then write to .csv using .to_csv() as covered in module 3
for (season), group in NFL_scores.groupby(['season']):
     group.to_csv(f'season_{season}.csv', index=False)

## MapReduce

In [19]:
# Read in and store each output data set as an element of a list (season_data_list, which is iterable)
season_data_list = []
for year in range(2002, 2015):
    # Read in each season_20xx.csv file and append it to a list
    df = pd.read_csv('season_' + str(year) + '.csv')
    season_data_list.append(df)

In [13]:
len(season_data_list)

13

In [14]:
season_data_list

[          week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   5-Sep  Thu    2002   San Francisco 49ers    3    0    7    6
 1            1   8-Sep  Sun    2002     Minnesota Vikings    3   17    0    3
 2            1   8-Sep  Sun    2002    New Orleans Saints    6    7    7    0
 3            1   8-Sep  Sun    2002         New York Jets    0   17    3   11
 4            1   8-Sep  Sun    2002     Arizona Cardinals   10    3    3    7
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  12-Jan  Sun    2002         New York Jets    3    7    0    0
 263   Division  12-Jan  Sun    2002   San Francisco 49ers    3    3    0    0
 264  ConfChamp  19-Jan  Sun    2002      Tennessee Titans    7   10    7    0
 265  ConfChamp  19-Jan  Sun    2002  Tampa Bay Buccaneers   10    7    3    7
 266  SuperBowl  26-Jan  Sun    2002  Tampa Bay Buccaneers    3   17   14   14

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            0          10         80            4           8
 1     -1  ...            1           4         33            2           6
 2      6  ...            0           8         85            1           6
 3      6  ...            1          10         82            4           8
 4     -1  ...            0           7         56            6          10
 ..   ...  ...          ...         ...        ...          ...         ...
 262   -1  ...            0           8         70            2           6
 263   -1  ...            1          10        100            8          10
 264   -1  ...            1          14        127            1           4
 265   -1  ...            2           5         45            2           7
 266   -1  ...            0           7         51            2           9

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              0           1    32.47            -3        -4.0
 1              0           0    28.48             4         4.5
 2              0           1    31.48            -6         6.0
 3              2           2    39.13            -6        -3.0
 4              1           2    34.40             8         6.0
 ..           ...         ...      ...           ...         ...
 262            1           1    30.93            20         5.5
 263            0           0    36.77            25         6.0
 264            0           0    26.42            17         9.0
 265            1           2    29.12           -17         4.0
 266            0           0    22.77           -27         3.5

 [267 rows x 82 columns],
           week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   4-Sep  Thu    2003         New York Jets    7    0    3    3
 1            1   7-Sep  Sun    2003       Atlanta Falcons    3    0   14   10
 2            1   7-Sep  Sun    2003      Baltimore Ravens    0    0    7    8
 3            1   7-Sep  Sun    2003  New England Patriots    0    0    0    0
 4            1   7-Sep  Sun    2003    New Orleans Saints    3    0    0    7
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  11-Jan  Sun    2003     Green Bay Packers   14    0    0    3
 263   Division  11-Jan  Sun    2003    Indianapolis Colts   14    7   10    7
 264  ConfChamp  18-Jan  Sun    2003    Indianapolis Colts    0    0    7    7
 265  ConfChamp  18-Jan  Sun    2003     Carolina Panthers    0    7    7    0
 266  SuperBowl   1-Feb  Sun    2003  New England Patriots    0   14    0   18

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            1           6         55            3           6
 1     -1  ...            1           7         49            4           8
 2     -1  ...            1           9        138            3           7
 3     -1  ...            1          10        119            5           9
 4     -1  ...            0           3         20            2           5
 ..   ...  ...          ...         ...        ...          ...         ...
 262    0  ...            1           3         25            4          17
 263   -1  ...            1           4         30            3           6
 264   -1  ...            1           3         15            5           9
 265   -1  ...            0           4         34            2          13
 266   -1  ...            1          12         73            2           8

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              1           1    34.77             3         3.0
 1              0           1    27.00           -14         2.0
 2              1           1    32.67            19         4.0
 3              0           1    33.83            31         1.0
 4              0           0    25.35            17         3.0
 ..           ...         ...      ...           ...         ...
 262            2           2    32.47             3         4.0
 263            3           3    27.78            -7         3.0
 264            2           2    32.23            10         3.5
 265            1           2    29.82           -11         4.0
 266            0           0    21.03            -3        -7.0

 [267 rows x 82 columns],
           week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   9-Sep  Thu    2004    Indianapolis Colts    0   17    0    7
 1            1  11-Sep  Sat    2004      Tennessee Titans    0    7    7    3
 2            1  12-Sep  Sun    2004       Atlanta Falcons    7    7    0    7
 3            1  12-Sep  Sun    2004  Tampa Bay Buccaneers    0    3    7    0
 4            1  12-Sep  Sun    2004      Seattle Seahawks    0   14    7    0
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  16-Jan  Sun    2004    Indianapolis Colts    0    3    0    0
 263   Division  16-Jan  Sun    2004     Minnesota Vikings    0    7    0    7
 264  ConfChamp  23-Jan  Sun    2004       Atlanta Falcons    0   10    0    0
 265  ConfChamp  23-Jan  Sun    2004  New England Patriots   10   14    7   10
 266  SuperBowl   6-Feb  Sun    2004   Philadelphia Eagles    0    7    7    7

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            1           8         55            3           6
 1     -1  ...            0          13         71            1           6
 2     -1  ...            1          10         57            2           6
 3     -1  ...            1           3         23            4           9
 4     -1  ...            2           8         68            3           8
 ..   ...  ...          ...         ...        ...          ...         ...
 262   -1  ...            0           5         35            2           7
 263   -1  ...            1           4         20            4           5
 264   -1  ...            0           6         59            7          14
 265   -1  ...            1           2         20            2           8
 266   -1  ...            1           7         47            1           5

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              0           0    28.32             3         3.0
 1              1           1    29.52           -10        -3.0
 2              1           1    33.45            -2        -3.0
 3              0           0    32.78             6         2.5
 4              0           1    26.38           -14        -2.5
 ..           ...         ...      ...           ...         ...
 262            0           0    37.72            17         1.0
 263            0           0    27.58            13         8.0
 264            0           1    33.25            17         6.0
 265            1           2    31.52           -14        -3.0
 266            0           0    31.62             3         7.0

 [267 rows x 82 columns],
           week    date  day  season             awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   8-Sep  Thu    2005      Oakland Raiders    7    7    0    6
 1            1  11-Sep  Sun    2005   Indianapolis Colts    0    3   14    7
 2            1  11-Sep  Sun    2005   New Orleans Saints    7    7    3    6
 3            1  11-Sep  Sun    2005        Chicago Bears    0    0    7    0
 4            1  11-Sep  Sun    2005    Arizona Cardinals    0   13    6    0
 ..         ...     ...  ...     ...                  ...  ...  ...  ...  ...
 262   Division  15-Jan  Sun    2005  Pittsburgh Steelers   14    0    7    0
 263   Division  15-Jan  Sun    2005    Carolina Panthers    7    9    7    6
 264  ConfChamp  22-Jan  Sun    2005  Pittsburgh Steelers    3   21    0   10
 265  ConfChamp  22-Jan  Sun    2005    Carolina Panthers    0    7    0    7
 266  SuperBowl   5-Feb  Sun    2005     Seattle Seahawks    3    0    7    0

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            0           7         46            4           7
 1     -1  ...            1           8         45            1           6
 2     -1  ...            2          11         84            5           7
 3     -1  ...            2           5         45            4           9
 4     -1  ...            0           7         52            3           7
 ..   ...  ...          ...         ...        ...          ...         ...
 262   -1  ...            0           9         67            1           6
 263   -1  ...            0           4         19            1           7
 264   -1  ...            2           4         20            2           5
 265   -1  ...            0           7         63            5          10
 266   -1  ...            0           3         20            4           7

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              0           1    32.33            10         7.5
 1              1           1    32.85           -17        -3.0
 2              0           0    27.40            -3         6.5
 3              1           1    34.25             2         6.0
 4              0           0    24.25            23         1.5
 ..           ...         ...      ...           ...         ...
 262            1           2    25.13            -3         8.5
 263            1           2    26.58            -8         3.0
 264            2           3    23.88           -17         3.5
 265            0           1    41.85            20         5.5
 266            0           0    26.97            11         4.0

 [267 rows x 82 columns],
           week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   7-Sep  Thu    2006        Miami Dolphins    0   10    7    0
 1            1  10-Sep  Sun    2006       Atlanta Falcons    3   10    7    0
 2            1  10-Sep  Sun    2006   San Francisco 49ers    7    7    7    6
 3            1  10-Sep  Sun    2006      Seattle Seahawks    0    6    0    3
 4            1  10-Sep  Sun    2006      Baltimore Ravens    7   10    3    7
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  14-Jan  Sun    2006      Seattle Seahawks    0   14   10    0
 263   Division  14-Jan  Sun    2006  New England Patriots    3    7    3   11
 264  ConfChamp  21-Jan  Sun    2006    New Orleans Saints    0    7    7    0
 265  ConfChamp  21-Jan  Sun    2006  New England Patriots    7   14    7    6
 266  SuperBowl   4-Feb  Sun    2006    Indianapolis Colts    6   10    6    7

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            1           1         10            2           7
 1     -1  ...            1           8         45            0           4
 2     -1  ...            1          11         85            3           6
 3     -1  ...            1           7         61            2           5
 4     -1  ...            0           3         21            1           6
 ..   ...  ...          ...         ...        ...          ...         ...
 262    0  ...            1           5         40            5          10
 263   -1  ...            3           6         64            2           8
 264   -1  ...            0           1          5            2           9
 265   -1  ...            0           4         32            4           8
 266   -1  ...            3           4         35            1           5

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              1           1    35.45            11         1.5
 1              0           2    23.53           -14         4.5
 2              0           0    35.03             7         9.5
 3              0           0    27.58            -3        -6.0
 4              0           1    24.18           -27         3.0
 ..           ...         ...      ...           ...         ...
 262            1           1    35.55             3         8.5
 263            1           2    30.90            -3         5.0
 264            2           2    35.25            25         3.0
 265            0           0    31.25             4         3.0
 266            0           1    21.93           -12        -6.5

 [267 rows x 82 columns],
           week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   6-Sep  Thu    2007    New Orleans Saints    0   10    0    0
 1            1   9-Sep  Sun    2007  Tampa Bay Buccaneers    6    0    0    0
 2            1   9-Sep  Sun    2007   Pittsburgh Steelers   17    0   14    3
 3            1   9-Sep  Sun    2007   Philadelphia Eagles    0   10    3    0
 4            1   9-Sep  Sun    2007      Tennessee Titans    3    3    7    0
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  13-Jan  Sun    2007       New York Giants    7    7    0    7
 263   Division  13-Jan  Sun    2007    San Diego Chargers    0    7   14    7
 264  ConfChamp  20-Jan  Sun    2007       New York Giants    3    3   14    0
 265  ConfChamp  20-Jan  Sun    2007    San Diego Chargers    3    6    3    0
 266  SuperBowl   3-Feb  Sun    2007       New York Giants    3    0    0   14

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            1           6         30            2           7
 1     -1  ...            1           3         35            2           6
 2     -1  ...            3           6         51            3          10
 3     -1  ...            1           6         35            2           7
 4     -1  ...            1           4         45            1           5
 ..   ...  ...          ...         ...        ...          ...         ...
 262   -1  ...            0          11         84            6           7
 263   -1  ...            1           5         54            2           5
 264    3  ...            0           7         37            0           5
 265   -1  ...            0           2         19            2           6
 266   -1  ...            1           5         35            4           6

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              0           0    28.25            31         5.5
 1              0           0    30.42            14         6.0
 2              0           0    23.73           -27        -4.5
 3              0           0    28.20             3        -3.0
 4              0           1    23.08            -3         7.0
 ..           ...         ...      ...           ...         ...
 262            0           1    36.50            -4         7.0
 263            2           4    30.35            -4        11.0
 264            0           0    22.57            -3         7.5
 265            0           0    33.33             9        14.0
 266            0           2    29.55            -3        12.5

 [267 rows x 82 columns],
           week    date  day  season             awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1   4-Sep  Thu    2008  Washington Redskins    0    7    0    0
 1            1   7-Sep  Sun    2008    Arizona Cardinals    3    7   10    3
 2            1   7-Sep  Sun    2008     Seattle Seahawks    0    7    3    0
 3            1   7-Sep  Sun    2008   Kansas City Chiefs    0    3    0    7
 4            1   7-Sep  Sun    2008    Carolina Panthers    0    9    7   10
 ..         ...     ...  ...     ...                  ...  ...  ...  ...  ...
 262   Division  11-Jan  Sun    2008   San Diego Chargers    7    3    0   14
 263   Division  11-Jan  Sun    2008  Philadelphia Eagles    7    3    3   10
 264  ConfChamp  18-Jan  Sun    2008     Baltimore Ravens    0    7    0    7
 265  ConfChamp  18-Jan  Sun    2008  Philadelphia Eagles    3    3   13    6
 266  SuperBowl   1-Feb  Sun    2008  Pittsburgh Steelers    3   14    3    7

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0     -1  ...            0           7         70            5           8
 1     -1  ...            4           3         20            1           5
 2     -1  ...            0           1         14            3          10
 3     -1  ...            2           3         30            3           6
 4     -1  ...            1           2         12            2           5
 ..   ...  ...          ...         ...        ...          ...         ...
 262   -1  ...            0           7         44            1           5
 263   -1  ...            1           6         49            1           7
 264   -1  ...            1           6         67            5          11
 265   -1  ...            1           3         15            2           4
 266   -1  ...            1          11        106            1           3

      home4thConv  home4thAtt  homeTOP  HminusAScore  homeSpread
 0              0           0    35.72             9         4.5
 1              0           0    22.92           -10        -2.5
 2              1           1    31.32            24         1.0
 3              0           0    29.82             7        16.0
 4              1           1    27.97            -2         9.5
 ..           ...         ...      ...           ...         ...
 262            0           2    36.50            11         6.5
 263            1           3    30.25           -12         4.0
 264            0           0    33.15             9         6.0
 265            1           1    29.93             7        -3.5
 266            0           0    26.98            -4        -6.5

 [267 rows x 82 columns],
           week    date  day  season              awayTeam  AQ1  AQ2  AQ3  AQ4  \
 0            1  10-Sep  Thu    2009      Tennessee Titans    0    7    0    3
 1            1  13-Sep  Sun    2009        Miami Dolphins    0    0    0    7
 2            1  13-Sep  Sun    2009  Jacksonville Jaguars    0    6    0    6
 3            1  13-Sep  Sun    2009         New York Jets    3    7    7    7
 4            1  13-Sep  Sun    2009   Philadelphia Eagles    3   28    7    0
 ..         ...     ...  ...     ...                   ...  ...  ...  ...  ...
 262   Division  17-Jan  Sun    2009         New York Jets    0    0    3   14
 263   Division  17-Jan  Sun    2009        Dallas Cowboys    0    3    0    0
 264  ConfChamp  24-Jan  Sun    2009         New York Jets    0   17    0    0
 265  ConfChamp  24-Jan  Sun    2009     Minnesota Vikings   14    0    7    7
 266  SuperBowl   7-Feb  Sun    2009    New Orleans Saints    0    6   10   15

      AOT  ...  homeFumLost  homeNumPen homePenYds  home3rdConv  home3rdAtt  \
 0      0  ...            1           6         60            1           7
 1     -1  ...            0           4         35            3           7
 2     -1  ...            1           3         17            6           7

In [ ]:
sample_data = pd.read_csv("season_2002.csv")

In [5]:
sample_data["AQ1_squared"] = sample_data.AQ1.pow(2)
sample_data

,week,date,day,season,awayTeam,AQ1,AQ2,AQ3,AQ4,AOT,...,homeNumPen,homePenYds,home3rdConv,home3rdAtt,home4thConv,home4thAtt,homeTOP,HminusAScore,homeSpread,AQ1_squared
0,1,5-Sep,Thu,2002,San Francisco 49ers,3,0,7,6,-1,...,10,80,4,8,0,1,32.47,-3,-4.0,9
1,1,8-Sep,Sun,2002,Minnesota Vikings,3,17,0,3,-1,...,4,33,2,6,0,0,28.48,4,4.5,9
2,1,8-Sep,Sun,2002,New Orleans Saints,6,7,7,0,6,...,8,85,1,6,0,1,31.48,-6,6.0,36
3,1,8-Sep,Sun,2002,New York Jets,0,17,3,11,6,...,10,82,4,8,2,2,39.13,-6,-3.0,0
4,1,8-Sep,Sun,2002,Arizona Cardinals,10,3,3,7,-1,...,7,56,6,10,1,2,34.40,8,6.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Division,12-Jan,Sun,2002,New York Jets,3,7,0,0,-1,...,8,70,2,6,1,1,30.93,20,5.5,9
263,Division,12-Jan,Sun,2002,San Francisco 49ers,3,3,0,0,-1,...,10,100,8,10,0,0,36.77,25,6.0,9
264,ConfChamp,19-Jan,Sun,2002,Tennessee Titans,7,10,7,0,-1,...,14,127,1,4,0,0,26.42,17,9.0,49
265,ConfChamp,19-Jan,Sun,2002,Tampa Bay Buccaneers,10,7,3,7,-1,...,5,45,2,7,1,2,29.12,-17,4.0,100
266,SuperBowl,26-Jan,Sun,2002,Tampa Bay Buccaneers,3,17,14,14,-1,...,7,51,2,9,0,0,22.77,-27,3.5,9

In [6]:
grouped_data = sample_data[["week", "AQ1", "AQ1_squared"]]
grouped_data.groupby("week").agg({"AQ1": ["sum", "count"], "AQ1_squared": ["sum"]})

          AQ1       AQ1_squared
          sum count         sum
week
1          81    16         695
10         78    14         686
11         52    16         450
12         68    16         666
13         56    16         534
14         88    16         908
15         50    16         388
16         92    16         906
17         51    16         419
2          67    16         695
3          44    14         314
4          69    14         459
5          30    14         272
6          70    14         708
7          23    14         125
8          34    14         312
9          71    14         661
ConfChamp  17     2         149
Division    6     4          18
SuperBowl   3     1           9
WildCard   28     4         294

In [7]:
# Write a mapping function. 
# Take in one of the data sets (one season of data), a grouping variable, and a target variable.
def map_stats(data, groupvar, targetvar):
    # Square the values of the target variable and store the result in a new column
    data[str(targetvar) + "_squared"] = data[targetvar].pow(2)
    # Subset the data frame to only include the grouping column, the target column, 
    # and the new column with squared values
    squared_targetvar = data[[groupvar, targetvar, str(targetvar) + "_squared"]]
    # Group the data using the grouping variable and display the sum and count for each column.
    # reset_index() to ensure that "week" ends up as a column
    grouped_data = squared_targetvar.groupby(groupvar).agg({targetvar: ["sum", "count"], str(targetvar) + "_squared": ["sum"]}).reset_index()
    # Convert to a dictionary of key-value pairs and return the result, referencing instructions from
    # https://stackoverflow.com/questions/26716616/convert-a-pandas-dataframe-to-a-dictionary
    # Lists are ordered as [sum_of_targetvar, count, sum_of_squared_targetvar]
    grouped_data_list = grouped_data.set_index("week").T.to_dict("list")
    return grouped_data_list

In [8]:
# Confirm that the mapping function works using data from
# the season_2002.csv.
# Recall that lists (values) are ordered as [sum_of_targetvar, count, sum_of_squared_targetvar]
map_stats(sample_data, "week", "AQ1")

{'1': [81, 16, 695],
 '10': [78, 14, 686],
 '11': [52, 16, 450],
 '12': [68, 16, 666],
 '13': [56, 16, 534],
 '14': [88, 16, 908],
 '15': [50, 16, 388],
 '16': [92, 16, 906],
 '17': [51, 16, 419],
 '2': [67, 16, 695],
 '3': [44, 14, 314],
 '4': [69, 14, 459],
 '5': [30, 14, 272],
 '6': [70, 14, 708],
 '7': [23, 14, 125],
 '8': [34, 14, 312],
 '9': [71, 14, 661],
 'ConfChamp': [17, 2, 149],
 'Division': [6, 4, 18],
 'SuperBowl': [3, 1, 9],
 'WildCard': [28, 4, 294]}

In [9]:
scores_list = []
for i in range(2002, 2015):
    with open('season_' + str(i) + '.csv', 'r') as f:
        scores_list.append(f.read())
        
len(scores_list)

13

In [22]:
# map() takes a function and applies it to each element of an iterable.
# Turn the result into a list, rather than keeping it as a basic map object
mapped_scores = list(map(map_stats, season_data_list, ["week"]*len(scores_list), ["AQ1"]*len(scores_list))) 

# look at just the 2002 season (mapped[0])
for key, value in mapped_scores[0].items(): 
    print(key, ":", value)

1 : [81, 16, 695]
10 : [78, 14, 686]
11 : [52, 16, 450]
12 : [68, 16, 666]
13 : [56, 16, 534]
14 : [88, 16, 908]
15 : [50, 16, 388]
16 : [92, 16, 906]
17 : [51, 16, 419]
2 : [67, 16, 695]
3 : [44, 14, 314]
4 : [69, 14, 459]
5 : [30, 14, 272]
6 : [70, 14, 708]
7 : [23, 14, 125]
8 : [34, 14, 312]
9 : [71, 14, 661]
ConfChamp : [17, 2, 149]
Division : [6, 4, 18]
SuperBowl : [3, 1, 9]
WildCard : [28, 4, 294]

In [37]:
# look at just the 2003 season (mapped[1])
for key, value in mapped_scores[1].items(): 
    print(key, ":", value)

1 : [42, 16, 252]
10 : [51, 14, 419]
11 : [37, 16, 265]
12 : [40, 16, 446]
13 : [58, 16, 412]
14 : [53, 16, 397]
15 : [43, 16, 365]
16 : [78, 16, 808]
17 : [37, 16, 405]
2 : [85, 16, 913]
3 : [36, 14, 218]
4 : [68, 14, 750]
5 : [43, 14, 319]
6 : [39, 14, 243]
7 : [81, 14, 793]
8 : [65, 14, 505]
9 : [46, 14, 328]
ConfChamp : [0, 2, 0]
Division : [35, 4, 441]
SuperBowl : [0, 1, 0]
WildCard : [13, 4, 67]

Write a reducer function that takes in two dictionaries and combines them.

In [35]:
# Reducer function that takes in two dictionaries and combines them.
# Check for unique keys (dictionary keys must be unique).
# If keys overlap, combine their list elements (values) into a new dictionary ("combined"). 
# Otherwise, create a new key.
def season_reduce(dict1, dict2):
    combined = {}
    for key in dict1.keys():
        if key in dict2:
            # List comprehension to combine values from two lists
            # into one list
            combined[key] = [x + y for x, y in zip(dict1[key], dict2[key])]
        else:
            combined[key] = dict1[key]
    for key in dict2.keys():
        if key not in dict1.keys():
            combined[key] = dict2[key]
    return combined

Check that the function works.

In [43]:
# Combine the 2002 and 2003 seasons
season_02 = pd.read_csv("season_2002.csv")
first_season = map_stats(season_02, "week", "AQ1")

season_03 = pd.read_csv("season_2003.csv")
second_season = map_stats(season_03, "week", "AQ1")

temp = season_reduce(first_season, second_season)
for key, value in temp.items():
    print(key, ":", value)

1 : [123, 32, 947]
10 : [129, 28, 1105]
11 : [89, 32, 715]
12 : [108, 32, 1112]
13 : [114, 32, 946]
14 : [141, 32, 1305]
15 : [93, 32, 753]
16 : [170, 32, 1714]
17 : [88, 32, 824]
2 : [152, 32, 1608]
3 : [80, 28, 532]
4 : [137, 28, 1209]
5 : [73, 28, 591]
6 : [109, 28, 951]
7 : [104, 28, 918]
8 : [99, 28, 817]
9 : [117, 28, 989]
ConfChamp : [17, 4, 149]
Division : [41, 8, 459]
SuperBowl : [3, 2, 9]
WildCard : [41, 8, 361]

Use `functools.reduce()`.

In [44]:
import functools

# season_reduce() is a function with 2 arguments
# season_data_list is a list (an iterable) of dictionaries
final = functools.reduce(season_reduce, mapped_scores)
for key, val in list(final.items())[:10]:
    print(key, ":", val)

1 : [713, 208, 5825]
10 : [852, 186, 7568]
11 : [798, 201, 7242]
12 : [749, 205, 6529]
13 : [872, 208, 8356]
14 : [798, 208, 7258]
15 : [814, 208, 7628]
16 : [852, 208, 7210]
17 : [775, 208, 7171]
2 : [731, 207, 6207]