# Assignment 6

Maksim Nikiforov

## Split the data

Using the NFL box score data set, split the data into separate .csv files based on the season.

In [1]:
import pandas as pd

# Read in our .csv file
NFL_scores = pd.read_csv("scoresFull.csv")

# Show the first set of rows
NFL_scores.head()

,week,date,day,season,awayTeam,AQ1,AQ2,AQ3,AQ4,AOT,...,homeFumLost,homeNumPen,homePenYds,home3rdConv,home3rdAtt,home4thConv,home4thAtt,homeTOP,HminusAScore,homeSpread
0,1,5-Sep,Thu,2002,San Francisco 49ers,3,0,7,6,-1,...,0,10,80,4,8,0,1,32.47,-3,-4.0
1,1,8-Sep,Sun,2002,Minnesota Vikings,3,17,0,3,-1,...,1,4,33,2,6,0,0,28.48,4,4.5
2,1,8-Sep,Sun,2002,New Orleans Saints,6,7,7,0,6,...,0,8,85,1,6,0,1,31.48,-6,6.0
3,1,8-Sep,Sun,2002,New York Jets,0,17,3,11,6,...,1,10,82,4,8,2,2,39.13,-6,-3.0
4,1,8-Sep,Sun,2002,Arizona Cardinals,10,3,3,7,-1,...,0,7,56,6,10,1,2,34.40,8,6.0

In [5]:
# Group data frame by each season with groupby,
# then write to .csv using .to_csv() as covered in module 3
for (season), group in NFL_scores.groupby(['season']):
     group.to_csv(f'season_{season}.csv', index=False)

## MapReduce

In [16]:
# Read in and store each output data set as an element of a list (season_data_list, which is iterable)
season_data_list = []
for year in range(2002, 2015):
    with open('season_' + str(year) + '.csv', 'r') as f:
        season_data_list.append(f.read())

In [24]:
sample_data = pd.read_csv("season_2002.csv")

In [45]:
grouped_data = sample_data[["week", "AQ1"]].groupby("week")

In [41]:
summed_grouped = grouped_data.sum("AQ1")
summed_grouped

           AQ1
week
1           81
10          78
11          52
12          68
13          56
14          88
15          50
16          92
17          51
2           67
3           44
4           69
5           30
6           70
7           23
8           34
9           71
ConfChamp   17
Division     6
SuperBowl    3
WildCard    28

In [59]:
summed_squared_grouped = sample_data[["week", "AQ1"]]
summed_squared_grouped["AQ1_squared"] = summed_squared_grouped.loc[:, "AQ1"].pow(2)
summed_squared_grouped

/var/folders/7s/5dc_cr591d1fss_sp_k6c7n00000gn/T/ipykernel_18947/2757385853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summed_squared_grouped["AQ1_squared"] = summed_squared_grouped.loc[:, "AQ1"].pow(2)

          week  AQ1  AQ1_squared
0            1    3            9
1            1    3            9
2            1    6           36
3            1    0            0
4            1   10          100
..         ...  ...          ...
262   Division    3            9
263   Division    3            9
264  ConfChamp    7           49
265  ConfChamp   10          100
266  SuperBowl    3            9

[267 rows x 3 columns]

In [34]:
# Write a mapping function. 
# Take in one of the data sets (one season of data), a grouping variable, and a target variable.
def map_stats(data, groupvar, targetvar):
    df = data[[groupvar, targetvar]].groupby(groupvar).sum(targetvar)
    return df

In [35]:
map_stats(sample_data, "week", "AQ1")

           AQ1
week
1           81
10          78
11          52
12          68
13          56
14          88
15          50
16          92
17          51
2           67
3           44
4           69
5           30
6           70
7           23
8           34
9           71
ConfChamp   17
Division     6
SuperBowl    3
WildCard    28